.form {
  text-align: center;
  border: 1px solid currentColor;
  border-top: none;
  padding-bottom: 33px;
  padding-top: 9px;
  padding-left: 8px;
  padding-right: 8px;
}

.label {
  font-size: 20px;
  display: block;
  text-align: left;
}

.input {
  background-color: transparent;
  margin-left: 5px;
  border: none;
  outline: none;
  margin-bottom: 5px;
  width: 209px;
}

.button {
  font-size: 18px;
  margin-left: 20px;
  margin-right: auto;
}

.mb {
  margin-bottom: 27px;
}
