label {
  font-size: 20px;
  display: block;
  text-align: left;
}

.input {
  background-color: transparent;
  margin-left: 5px;
  border: none;
  outline: none;
  margin-bottom: 5px;
}

.button {
  font-size: 18px;
}
