.list {
  padding-left: 20px;
}

.text {
  margin: 0;
  margin-right: 10px;
  font-size: 18px;
}

.item {
  display: flex;
  margin-bottom: 10px;
}

.button {
  cursor: pointer;
  text-align: center;
  padding: 0;
  background-color: transparent;
  border: none;
}
