.wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 5px;
  margin-top: 5px;
}

.text {
  margin: 0;
  margin-right: 10px;
  font-size: 16px;
}

.button {
  padding: 0 5px;
}
